Repository awaaate/insightdesk, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, analytics, database, documentation, config, dependencies, tests, typescript, ui, ai

.github/labeler.yml:

# Configuration for the PR Labeler action

# Backend/API changes
'backend':
  - 'apps/radar/**/*'
  - 'apps/server/**/*'

# Frontend changes  
'frontend':
  - 'apps/web/**/*'

# Analytics changes
'analytics':
  - 'apps/analytics/**/*'
  - 'notebooks/**/*'
  - 'v1dashboard/**/*'

# Database changes
'database':
  - 'apps/radar/src/db/**/*'
  - '**/*migration*'
  - '**/*.sql'

# Documentation changes
'documentation':
  - '*.md'
  - 'docs/**/*'
  - '.github/**/*'

# Configuration changes
'config':
  - '*.json'
  - '*.yml'
  - '*.yaml'
  - '*.toml'
  - '.env*'
  - 'turbo.json'
  - 'tsconfig.json'
  - 'package.json'
  - 'bun.lock'

# Dependencies
'dependencies':
  - 'package.json'
  - 'bun.lock'
  - 'yarn.lock'
  - 'package-lock.json'

# Tests
'tests':
  - '**/*.test.*'
  - '**/*.spec.*'
  - 'tests/**/*'

# TypeScript changes
'typescript':
  - '**/*.ts'
  - '**/*.tsx'
  - 'tsconfig.json'

# React/UI changes
'ui':
  - 'apps/web/src/components/**/*'
  - 'apps/web/src/views/**/*'
  - '**/*.css'

# AI/ML related
'ai':
  - 'apps/radar/src/ai/**/*'
  - '**/*prompt*'
  - '**/*llm*'
  - '**/*openai*'
  - '**/*perplexity*'

mm
  apps/server/src/cli/index.ts
  apps/server/src/db/schema/core.ts
  apps/server/src/db/seed-insights.ts
  apps/server/src/queues/workers/analyze-comments.ts
  apps/server/src/routers/comments.ts
  apps/server/src/routers/processing.ts
  apps/server/src/types/shared.ts
  apps/web/src/components/chat/chat.tsx
  apps/web/src/components/comments/comments-table.tsx
  apps/web/src/components/dashboard/leti/components/top-insights-section.tsx
  apps/web/src/routes/dashboard.index.tsx
Labels: backend, frontend, typescript, ui

updated public
  .gitignore
  apps/server/public/assets/logo.png
  apps/server/public/assets/mascota-colgada.webp
Labels: backend

feat: Implement text search functionality for comments module
  apps/server/src/index.ts
  apps/server/src/queues/workers/analyze-comments.ts
  apps/server/src/routers/comments.ts
  apps/server/src/types/shared.ts
  apps/server/src/types/usage-example.ts
  apps/web/src/components/comments/comments-table-enhanced.tsx
Labels: backend, frontend, typescript, ui

added filters
  apps/server/src/routers/analyticsv2/v2-router.ts
  apps/server/src/routers/index.ts
  apps/server/src/routers/v2-comments.ts
  apps/web/src/components/dashboard/gro/components/intention-distribution.tsx
  apps/web/src/components/dashboard/leti/components/key-insights-summary.tsx
  apps/web/src/components/dashboard/leti/components/top-insights-section.tsx
  apps/web/src/components/dashboard/leti/leti-dashboard.tsx
  apps/web/src/components/dashboard/pix/components/sentiment-distribution.tsx
  apps/web/src/components/dashboard/pix/components/sentiment-summary.tsx
  apps/web/src/components/dashboard/shared/analytics-filter-bar.tsx
  apps/web/src/hooks/use-analytics-filters.tsx
Labels: backend, frontend, typescript, ui

table updated
  apps/server/src/routers/index.ts
  apps/server/src/routers/v2-comments.ts
  apps/server/src/types/shared.ts
  apps/web/src/components/comments/comments-table-enhanced.tsx
  apps/web/src/components/dashboard/leti/leti-dashboard.tsx
  apps/web/src/hooks/use-analytics-filters.tsx
  apps/web/src/routes/dashboard.comments.tsx
  apps/web/src/routes/dashboard.index.tsx
Labels: backend, frontend, typescript, ui

table updated and fixed layout problems
  apps/web/src/components/comments/comment-details-drawer.tsx
  apps/web/src/components/comments/comments-table-enhanced.tsx
  apps/web/src/components/dashboard/leti/leti-dashboard.tsx
  apps/web/src/hooks/use-analytics-filters.tsx
  apps/web/src/routes/dashboard.index.tsx
Labels: frontend, typescript, ui

more fixes
  apps/web/src/components/comments/comments-table-enhanced.tsx
  apps/web/src/components/dashboard/leti/leti-dashboard.tsx
Labels: frontend, typescript, ui

feat: Update chat avatar and add database reset functionality
  apps/server/package.json
  apps/server/public/assets/diseñocajayavatares.jpg
  apps/server/public/assets/familia de tres junta/Avatares_Web498_ClienteX_NA_V1_ZOOPA_EBO_20250901.png
  apps/server/public/assets/familia de tres junta/Captura de pantalla 2025-08-29 a las 8.19.21.png
  apps/server/public/assets/familia de tres junta/laCaptura de pantalla 2025-09-01 a las 9.58.20.png
  apps/server/public/assets/graficos a alinear.jpg
  apps/server/public/assets/nueva-mascota.png
  apps/server/public/assets/pantallamal.jpg
  apps/server/src/db/reset-database.ts
  apps/server/src/prompts/ls.txt
  apps/web/src/components/chat/chat.tsx
Labels: backend, frontend, typescript, ui

updated seed
  apps/server/package.json
  apps/server/seed-comments.ts
  apps/server/seed.ts
  apps/server/src/cli/index.ts
  apps/server/src/routers/comments.ts
Labels: backend, typescript

fix: Align pie charts horizontally in dashboard
  apps/web/src/components/dashboard/leti/components/top-insights-section.tsx
  apps/web/src/components/dashboard/leti/leti-dashboard.tsx
  apps/web/src/components/dashboard/pix/components/sentiment-distribution.tsx
Labels: frontend, typescript, ui
